@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(0deg, #ffffff, #1ed1c8);
    color: #1b6b70;
    padding-top: 6px;
    background-attachment: fixed; 
    font-family: 'Roboto', sans-serif;
}

.inicio {
    display: flex;
}

.box {
    width: 35px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    color: #000000;
    transition: all .8s;
    cursor: pointer;
    position: relative;
    background: #1ed1c8;
    overflow: hidden;
}

.box:before {
    content: "O";
    position: absolute;
    top: 0;
    background: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
    transition: transform .4s;
}

.box:nth-child(2)::before {
    transform: translateY(-100%);
    content: 'C';
}

.box:nth-child(3)::before {
    content: 'E';
}

.box:nth-child(4)::before {
    transform: translateY(-100%);
    content: 'A';
}

.box:nth-child(5)::before {
    content: 'N';
}

.button:hover .box:before {
    transform: translateY(0);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    filter: drop-shadow(0 0 5px #090909);
}

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #1ed1c8;
}

.main {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
    transition: .3s ease;
    padding-top: 80px;
}

.main.active {
    filter: blur(15px);
    pointer-events: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.text-content {
    flex: 1;
    padding: 5px 20px;
}

.image-content {
    flex: 2;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0px;
    border-radius: 10px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    transform: scale(0.95);
}